@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #f1b0b9;
  color: #f5f5eb;
}

.titulo-destaque {
  color: #cf6879;
}

.apresentacao {
  margin: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.apresentacao__conteudo {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 615px;
}

.apresentacao__conteudo__titulo {
  font-size: 36px;
  font-family: "Lato", sans-serif;
}

.apresentacao__conteudo__texto {
  font-size: 24px;
  font-family: "Playfair Display", serif;
}

.apresentacao__links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.apresentacao__links__link {
  background-color: #cf6879;
  text-align: center;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 600;
  padding: 18px 40px;
  text-decoration: none;
  color: #f5f5eb;
  font-family: "Lato", sans-serif;
}

img {
  height: 350px;
  width: 300px;
  border-radius: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
