@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
  --cor-primaria: #f1b0b9;
  --cor-secundaria: #cf6879;
  --cor-terciaria: #f5f5eb;
  --cor-hover: #e28091;
  --cor-borda: #b95a6a;

  --fonte-principal: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0%;
  padding: 0%;
}

body {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-terciaria);
}

footer {
  text-align: center;
  padding: 15px;
  margin: 0%;
  width: 100%;
}

.cabecalho {
  padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link {
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  font-weight: 600;
  color: var(--cor-secundaria);
  text-decoration: none;
}

.apresentacao {
  flex: 1;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao__conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-size: 36px;
  font-family: var(--fonte-principal);
  color: var(--cor-secundaria);
}

.apresentacao__conteudo__texto {
  font-size: 18px;
  font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__texto__forte {
  font-size: 20px;
  color: var(--cor-secundaria);
  font-family: var(--fonte-principal);
}

.rodape {
  color: var(--cor-terciaria);
  background-color: var(--cor-secundaria);
  padding: 8px;
  text-align: center;
  font-family: var(--fonte-secundaria);
  font-size: 22px;
  font-weight: 400;
}

.profile-image {
  height: 350px;
  width: 30%;
  border-radius: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
