@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
  --cor-primaria: #f1b0b9;
  --cor-secundaria: #cf6879;
  --cor-terciaria: #f5f5eb;
  --cor-hover: #e28091;
  --cor-borda: #b95a6a;

  --fonte-principal: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* height: 100vh; */
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-terciaria);
}

footer {
  text-align: center;
  padding: 15px;
  margin: 0%;
  width: 100%;
}

.cabecalho {
  padding: 2% 0% 0% 15%;
}
.cabecalho__menu {
  display: flex;
  gap: 80px;
}
.cabecalho__menu__link {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-secundaria);
  text-decoration: none;
}
.apresentacao {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5.125rem;
}
.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-size: 2, 25rem;
  font-family: var(--fonte-principal);
}
.titulo-destaque {
  color: var(--cor-secundaria);
}
.apresentacao__conteudo__texto {
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.apresentacao__links__subtitulo {
  font-family: var(--fonte-principal);
  font-weight: 400;
  font-size: 1.5rem;
}
.apresentacao__links__navegacao {
  background-color: var(--cor-secundaria);
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid var(--cor-borda);
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--cor-terciaria);
  font-family: var(--fonte-secundaria);
}
.apresentacao__links__navegacao:hover {
  background-color: var(--cor-hover);
}
.rodape {
  color: var(--cor-terciaria);
  background-color: var(--cor-secundaria);
  padding: 0.5rem;
  text-align: center;
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 400;
}

.profile-image {
  height: 350px;
  width: 40%;
  border-radius: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.icon {
  height: 30px;
}

@media (max-width: 1200px) {
  .cabecalho {
    padding: 10%;
  }

  .cabecalho__menu {
    justify-content: center;
  }

  .apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
  }
  .apresentacao__conteudo {
    width: auto;
  }

  .profile-image {
    height: 20rem;
    width: 20%;
  }
  footer {
    bottom: 0;
    padding: 1rem;
  }
}

@media (max-width: 450px) {
  .cabecalho {
    padding: 10%;
  }

  .cabecalho__menu {
    justify-content: center;
  }

  .apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
  }
  .apresentacao__conteudo {
    width: auto;
  }

  .profile-image {
    height: 18rem;
    width: 16rem;
  }

  footer {
    bottom: 0;
    padding: 1rem;
  }

  .rodape {
    font-size: 1rem;
  }
}
